* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

#stop,
#reset {
    height: 65px;
    width: 65px;
    cursor: pointer;
    margin-left: 12px;
    padding: 5px;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#timmer {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

#background {
    position: static;
    width: 100%;
    height: 100vh;
    filter: blur(5px);
}

#start {
    height: 65px;
    width: 65px;
    cursor: pointer;
    margin-left: 12px;
}