*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg, #5e86d6, #980ebb);
    padding:10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.image{
    width: 30px;
    margin-left: 130px;
    margin-bottom: 20px;
    margin-top: -50PX;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeff0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background:#5e86d6;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}
button:hover{
    background-color: #002765c2;
}
ul li{
    list-style: none;
    background: transparent;
    padding: 15px 44px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: 0.5s;
   cursor: pointer;

}
ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}
/* .list-container{
    position: absolute;
    left: 10px;
    margin-left: 50px;
} */
ul li.checked{
    color: #555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size:  22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}
ul li span:hover{
    background-color: #5555553f;

}