* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;


}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

body {
    background-color: rgb(76, 174, 240);

}

textarea {
    border-radius: 20px;
    margin-top: 10px;
    border-color: transparent;
    padding: 10px;
    font-size: 15px;
}

button {
    background-color: rgb(120, 76, 240);
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Trebuchet MS', sans-serif;
}

button:hover {
    background-color: rgb(100, 76, 240);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(50, 9, 88);


}

#textAreaContainer {
    display: flex;
    flex-direction: column;

}